<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Console" name="console"
      layout="${longdate}|${level}|${message}" />
    <target xsi:type="File" name="ErrorLog" fileName="${basedir}/error.txt"
            layout="${longdate}
          Trace: ${stacktrace} 
          ${message}" />
    <target xsi:type="File" name="AccessLog" fileName="${basedir}/access.txt"
            layout="${shortdate} | ${message}" />
  </targets> – defines log targets/outputs
  <rules /> – defines log routing rules <extensions /> – loads NLog extensions from the *.dll file <include />     – includes external configuration file <variable /> – sets the value of a configuration variable
</nlog>